@import "../Component/Root.css";
@import "../Component/Base.css";

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo{
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: .4s;
  }
  
  .nav__logo:hover{
    color: var(--first-color-alt);
  }
  
  .nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsl(var(--second-hue), 32%, 16%, .8);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
  }
  
  .nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__link{
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
  }

  @media screen and (max-width: 320px) {
    .nav__menu{
      padding: 1rem 1.5rem;
    }
  }
  @media screen and (min-width: 576px) {
    .nav__menu{
      width: 328px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 992px) {
    .container{
      margin-left: auto;
      margin-right: auto;
    }
}